@using Shared.Dtos; 
@model List<EmployeeDto>
<div class="container">
    <table width="100%">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Name</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int sn = 0;
            }
            @foreach (var emp in Model)
            {
                ++sn;
                <tr>
                    <td>@sn</td>
                    <td>@emp.EmployeeName</td>
                    <td>@emp.DepartmentName</td>
                    <td>
                        <a asp-action="Edit" asp-route-ID="@emp.Id" asp-controller="Employee">Edit</a>&nbsp;
                        <a asp-action="Detail" asp-controller="Employee" asp-route-ID="@emp.Id">Detail</a>&nbsp;
                        <a asp-action="Delete" asp-controller="Employee" asp-route-ID="@emp.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
   <a asp-action="Create" asp-controller="Employee" class="btn btn-success">Create</a>
</div>
